<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="graficoList">
                <span class="feather icon-home"></span>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="onibusList">
                <span class="feather icon-file"></span>
                Ônibus
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="manutencaoList">
                <span class="feather icon-shopping-cart"></span>
                Manutenção
            </a>
        </li>
    </ul>
</div>